@if(keychain.loaded) {
  @if(creationMode()) {
    <form class="create-form" [formGroup]="createForm" (submit)="submitCreation()">
      <input type="text" [formControlName]="'name'" required placeholder="Название">
      <input type="text" [formControlName]="'login'" placeholder="Логин">
      <input type="text" [formControlName]="'password'" required placeholder="Пароль">
      <input type="text" [formControlName]="'comment'" placeholder="Комментарий">
      <button type="submit">Добавить</button>
    </form>
  } @else {
    <div class="form">
      <input type="text" [formControl]="searchInput" placeholder="Поиск">
      <button type="button" icon>
      <span class="material-symbols-outlined" (click)="showCreationForm()">
        add
      </span>
      </button>
    </div>
    @if (searchInput.value) {
      <div class="records">
        @for (record of keychain.search(searchInput.value); track record.id) {
          <div class="record">
            <div class="name">
              {{ record.payload.name }}
              <span class="link" (click)="deleteRecord(record)">Удалить из связки</span>
            </div>
            @if (record.payload.login) {
              <div class="login">
          <span class="material-symbols-outlined">
            person
          </span>
                {{ record.payload.login }}
              </div>
            }
            <div class="password">
        <span class="material-symbols-outlined">
          key
        </span>
              <span class="value">
            {{ visiblePassword() === record.id ? record.payload.password : '****************' }}
          </span>
              <button icon>
            <span class="material-symbols-outlined"
                  (click)="visiblePassword() === record.id ? visiblePassword.set('') : visiblePassword.set(record.id)">
              {{ visiblePassword() === record.id ? 'visibility_off' : 'visibility' }}
            </span>
              </button>
              <button icon>
            <span class="material-symbols-outlined" (click)="copyPassword(record.payload.password)">
              content_copy
            </span>
              </button>
            </div>
            @if (record.payload.comment) {
              <div class="comment">
          <span class="material-symbols-outlined">
            chat
          </span>
                {{ record.payload.comment }}
              </div>
            }
          </div>
        }
      </div>
    }
  }
} @else {
  <div class="keychain-actions">
    <button (click)="load()">Открыть связку</button>
    <span (click)="onboardingVisible.set(true)" class="link">У вас нет связки?</span>
  </div>
  @if (onboardingVisible()) {
    <div class="onboarding">
      <ol>
        <li>
          Придумайте мастер-пароль, он понадобится для доступа к связке, главное его не забыть.
        </li>
        <li>
          Скачайте пустую связку нажав на <span class="link" (click)="downloadEmptyKeychain()">эту ссылку</span>
        </li>
        <li>
          Переместите файл связки в ваше облако для быстрого доступа с любого вашего устройства
        </li>
        <li>
          <span class="link" (click)="load()">Откройте связку</span>
        </li>
      </ol>
    </div>
  }
}
